.navbar {
    background-color: darkblue;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cartico{
    height: 75px;
    margin: 50px;
}

body{
    background-color: dimgray;
}

.banner{
    height: 75px;
    margin: 50px;
}